<form class="form-horizontal" [formGroup]="signInForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-6">
      <input type="email" 
        class="form-control" 
        id="email" 
        placeholder="Email"
        formControlName="email">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
    <div class="col-sm-6">
      <input type="password" 
        class="form-control" 
        id="password" 
        placeholder="Password"
        formControlName="password">
    </div>
  </div>
  <!-- Implement this later -->
  <!-- <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label>
          <input type="checkbox"> Remember me
        </label>
      </div>
    </div>
  </div> -->
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-6">
      <button type="submit" class="btn btn-default">Sign in</button>
    </div>
  </div>
</form>