@import "../../../../../_vars.scss";

.save-button {
	text-align: right;
	margin-bottom: 13px;
}

input {
	border: none !important;
}

textarea {
	border: none !important;
	resize: none !important;
}

.images {
	position: relative;
}

.place-image-field {
	&:hover {
		.remove.icon {
			opacity: 1;
		}
	}
}

.place-image {
	background: rgb(239, 232, 232);
	height: 100px;
	width: 150px;
	object-fit: cover;
	background: #efe8e8;
	z-index: 999;
}

.remove.icon {
	position: absolute;
	font-size: 2.5em;
	transform: translate(-209%, 48%);
	background-color: rgba(250, 250, 250, 0.85);
	border-radius: 999px;
	transition-duration: 0.3s;
	opacity: 0;
	height: 50px;
	width: 50px;
	box-shadow: 0px 0px 10px black;
	&:before {
		top: 30%;
    position: relative;
		color: $appBaseColor;
	}
}

.form-header {
	color: #A8B0B8;
	border-radius: 5px 5px 0 0;
	background-color: #303E52;
}

.place-name, .place-date {
	background: none !important;
	font-size: 1.5rem !important;
  font-weight: 400;
	
	&:focus {
		background: none !important;
	}
}

.place-date {
	margin-right: -0.5rem !important;
}

.calendar.icon {
  cursor: pointer;
	font-size: 3rem;
}

.marker.icon {
	font-size: 3rem;
	margin-right: -1.5rem !important;
}

// .place-date-field {
// 	padding-right: 0 !important;
// 	input {
// 		display: none !important;
// 	}
// }

textarea {
	font-size: 1.5rem !important;
	min-height: 3rem !important;
	background: none !important;
}