.save-button {
	text-align: right;
	margin-bottom: 13px;
}

input {
	border: none !important;
}

textarea {
	border: none !important;
	resize: none !important;
}

.images {
	position: relative;
}

.place-image {
	width: 100px;
	background: rgb(239, 232, 232);
}

.remove.icon {
	position: absolute;
	top: -85px;
	left: 66px;
	font-size: 2em;
	cursor: pointer;
}