<div *ngFor="let city of cities$ | async">
  <div id="city" class="ui card my-card">
    Arrived at {{city.name}}, {{city.country}}
  </div>
  <div *ngFor="let place of city.places">
    <div id="place" class="ui card my-card">
      Checked into {{place.name}}
    </div>
    <div *ngFor="let media of place.pictures">
      <div id="media" class="ui-card my-card">
        <div id="media-description">
          {{media.description}}
        </div>
        <img class="photo" [src]="media.url">
      </div>
    </div>
  </div>
</div>