.photo {
  width: 100%;
  max-height: 80%;
}

.my-card {
  width: 95%;
  box-shadow: 0 1px 5px #BBB;
}

#media {
  background: teal;
  text-align: center;
  margin-bottom: 30px;
}

#media-description {
  font-size: 20px;
  background-color:teal; 
}

#city, #place {
  background: teal;
  margin-top: 30px;
  margin-bottom: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 40px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}