<div class="banner-image">
  <img src="http://res.cloudinary.com/yatrum/image/upload/c_scale,w_784/v1486973405/brand%20images/Ambassador_Progra_zwpsk2.png">
</div>
<div class="join-form">
  <!-- Begin MailChimp Signup Form -->
  <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
  <style type="text/css">
    #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
    /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
      We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
  </style>
  <div id="mc_embed_signup">
  <form action="//aviabird.us15.list-manage.com/subscribe/post?u=5bc67e9ba994773e66c535640&amp;id=2713b0bbe8" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div id="mc_embed_signup_scroll">
    <label for="mce-EMAIL">Join our Travel Ambassador Program</label>
    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_5bc67e9ba994773e66c535640_2713b0bbe8" tabindex="-1" value=""></div>
      <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
      </div>
  </form>
  </div>

<!--End mc_embed_signup-->
</div>

<div class="campain-text">
  <p> Yatrum is social travel platform to share and discover travel experiences, stories, Itineraries, blogs, travel guides, hotels and resorts, weekend getaways, attractions, places to visit, maps and tours.</p>
  <p > Yatrum is running a partnership program where travellers who love to travel the world can benefit from it in many ways.</p> 
  <p>There is a lot in store for you.</p>
  <p>Imagine getting your trips sponsored by Yatrum. Wouldn't it be Awesome!!! But that's just the tip of the iceberg.</p>
    <ul >
      <li>Use our network to drive traffic to all your social platforms, blog & website.</li>
      <li>Get paid if people like your trips and engage with it.</li>
      <li>You get your universal travel profile which endoresed by Yatrum.</li>
      <li>Get an Ambassador badge on your profile which is Yatrum approved and get fetured on our ambassadors page.</li>
    </ul>
  <p> We love you and care about you. COME JOIN US!!!</p>
</div>