.banner-image {
    margin: 0 auto;
    text-align: center;
}

.join-form {
    margin-top: 40px;
}

.campain-text {
    width: 70rem;
    font-size: 2rem;
    margin: 30px auto 0px auto;
    line-height: 2.4rem;
}