<div class="trips-cover">
  <div class="image trips-cover-div">
    <img class="cover-image" src='http://res.cloudinary.com/zeus999/image/upload/e_blur:2000/v1483437708/sea-sky-beach-holiday-11_nnbuey.jpg'>
    <div class="prompt-box">
      <textarea class="row white-placeholder" type="text" placeholder="What's on your mind?'"></textarea>
      <div class="prompt-box-btns">
        <a class="" href="#">
          <i class="photo icon"></i>
          Add Photo
        </a>
        <a class="" href="#">
          <i class="record icon"></i>
          Add Video
        </a>
      </div>
    </div>
  </div>

  <div class="ui grid centered trips-nav">
    <span class="trips-nav-links" [routerLink]="['/trips']" routerLinkActive='active'>All Trips</span>
    <span class="trips-nav-links">Photos</span>
    <span class="trips-nav-links">Videos</span>
  </div>
</div>

<div class="trip-box">
  <!-- This gets centered -->
  <router-outlet></router-outlet>
</div>