<div class="trips-cover">
  <div class="image trips-cover-div">
    <img class="cover-image" src='http://res.cloudinary.com/zeus999/image/upload/e_blur:2000/v1483437708/sea-sky-beach-holiday-11_nnbuey.jpg'>
    <div class="search-box">
      <div class="ui grid">
        <div class="row">
          <h1 class="text-white text-center column">Discover Trips Shared by Real Travellers</h1>
        </div>
        <div class="row">
          <div class="column">
            <div class="ui huge icon action input">
              <input type="text" placeholder="Search for destinations, activities or people">
              <button class="ui huge icon green button">
                <i class="search icon"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="ui grid centered trips-nav">
    <span class="trips-nav-links" [routerLink]="['/trips']" routerLinkActive='active'>All Trips</span>
    <span class="trips-nav-links">Photos</span>
    <span class="trips-nav-links">Videos</span>
  </div>
</div>

<div class="trip-box">
  <!-- This gets centered -->
  <router-outlet></router-outlet>
</div>