<!--<div class="trips-cover">
  <div class="image trips-cover-div">
    <img class="cover-image" src='http://wallpaperlayer.com/img/2015/1/blurred-city-lights-7598-7892-hd-wallpapers.jpg'>
  </div>

  <div class="ui grid centered trips-nav">
    <span class="trips-nav-links" [routerLink]="['/trips']" routerLinkActive='active'>All Trips</span>
    <span class="trips-nav-links">Photos</span>
    <span class="trips-nav-links">Videos</span>
  </div>
</div>-->

<div class="trip-box">
  <!-- This gets centered -->
  <router-outlet></router-outlet>
</div>