<div class="my-card" [routerLink]="['/trips',(trip.id)]" [@fadeIn]="'in'">
  <div class="ui grid content">
    <div class="two wide column">
      <img class="ui avatar image" [src]="trip.user.profile_pic|| 'https://pbs.twimg.com/profile_images/706827216336752642/RUlj-EsL_400x400.jpg'">
    </div> 
    <div class="ten wide column">
      <h3>
        {{trip.user.name}}
      </h3>
      <p class="description">
        {{trip.description}}
      </p>
    </div>
    <div class="four wide column icon-group">
      <i class="reply large icon"></i>
      <i class="empty heart large icon"></i>
      <i class="large icon">2h</i>
    </div>
  </div>
  <div class="trip-image">
    <img width="100%" class="photo" src="http://res.cloudinary.com/zeus999/image/upload/h_300/v1483437708/sea-sky-beach-holiday-11_nnbuey.jpg">
  </div>
</div>