<div class="my-card" [@fadeIn]="'in'">
  <div class="ui grid content">
    <div class="two wide column">
      <img class="ui avatar image" [src]="'https://pbs.twimg.com/profile_images/706827216336752642/RUlj-EsL_400x400.jpg'">
    </div> 
    <div class="ten wide column">
      <h3>
        {{trip.user.name}}
      </h3>
      <p class="description">
        {{trip.description}}
      </p>
    </div>
    <div class="four wide column icon-group">
      <i class="reply large icon"></i>
      <i class="heart large icon {{state}}" [ngClass]="{empty: state == 'inactive'}" [@onClickToggle]='state' (click)="toggleMove()"></i>
      <i class="large icon">2h</i>
      <a [routerLink]="['/trips', trip.id, 'edit']"><i class="large icon pencil"></i></a>
    </div>
  </div>
  <div class="trip-image" [routerLink]="['/trips',(trip.id)]">
    <img width="100%" class="photo" src="http://res.cloudinary.com/zeus999/image/upload/h_300/v1483437708/sea-sky-beach-holiday-11_nnbuey.jpg">
  </div>
</div>