<div class="trip ui centered grid cards">
  <div class="trip-form ten wide column ui card">
    <form class="ui form" [formGroup]="tripForm">
      <div class="field">
        <input class="trip-title" type="text" placeholder="Title" formControlName="name">
        <button class="ui big button save-button" (click)="onSubmit()" type="button">Publish</button>
      </div>
      <div class="field">
        <textarea class="trip-description" autosize placeholder="Where is it about?" formControlName="description"></textarea>
      </div>
    </form>
  </div>

  <div *ngFor="let place of tripForm.value.places; let i = index" class="place-form ten wide right aligned column ui card">
    <div *ngIf="!place._destroy">
      <!--<h4 class="">
        <i class="train big icon"></i>
        {{place.name}}
      </h4>-->
      <!--<strong>Remove</strong>
      <i class="remove icon" (click)="removePlace(place, i)"></i>-->
      <tr-add-place [place]="place" (newPlace)="updatePlace($event, i)"></tr-add-place>
    </div>
  </div>

</div>

<div>
  <button class="ui button" (click)="addNewPlace()">Add Place</button>
</div>