@import "../../../../_vars.scss";

.trip {
	margin-top: 30px;
}

.trip-form {
	padding: 0 !important;
}

.trip-title {
	width: 70% !important;
	font-size: 3rem !important;
  font-weight: bold;
	margin-left: -2rem !important;
	&:focus {
		background: none !important;
	}
}

.trip-description {
	font-size: 1.5rem !important;
	min-height: 3rem !important;
	text-align: justify;
}

.save-button {
	float: right;
	background: $appActionColor;
	color: white;
	margin-top: 2.3rem;
}

input {
	border: none !important;
}

textarea {
	border: none !important;
	resize: none !important;
}

.place-form {
	margin-bottom: 30px;
}

.trip-form {
	background: none !important;
	box-shadow: none !important;

	input {
		background: none;
	}

	textarea {
		background: none;
	}
}


.add-place {
	margin-top: 8px;
	padding: 0 !important;
  color: #F12732;
	.icon {
		font-size: 4rem;
    width: 100%;
		background: #efeeee;
    padding-top: 23px;
    padding-bottom: 51px;
	}
}