@import "../../../../_vars.scss";

.trip {
	margin-top: 30px;
}

.trip-form {
	padding: 0 !important;
}

.trip-title {
	color: #939799 !important;
  font-weight: 700;
	min-height: 2em !important;
	height: 2em !important;
	width: 70% !important;
	font-size: 3rem !important;
	margin-left: -2rem !important;
	&:focus {
		background: none !important;
	}
}

.trip-description {
	font-size: 1.5rem !important;
	min-height: 3rem !important;
	text-align: justify;
}

.save-button {
	border-radius: 0 !important;
	float: right;
	background: $appActionColor;
	color: white;
	margin-top: 2.3rem;
}

input {
	border: none !important;
}

textarea {
	border: none !important;
	resize: none !important;
}

.place-form {
	margin-bottom: 30px;
	position: relative;
	.remove-icon-background {
		background: white;
    width: 2.2em;
    position: absolute;
    right: -2px;
    z-index: 1;
    height: 2.2em;
    border-radius: 20px;
    top: 10px;
	}
	.icon {
		font-size: 4em !important;
		color: #F12732;
    position: absolute;
    right: -23px;
    top: 16px;
    z-index: 1;
		cursor: pointer;
	}
}

.trip-form {
	background: none !important;
	box-shadow: none !important;

	input {
		background: none;
	}

	textarea {
		background: none;
	}
}


.add-place {
	margin-top: 8px;
	padding: 0 !important;
  color: #F12732;
	.icon {
		cursor: pointer;
		font-size: 4rem;
    width: 100%;
		background: #FAFAFA;
    padding-top: 23px;
    padding-bottom: 51px;
	}
}