<div class="ui two column centered grid">
  <div class="column">
    <div class="banner" *ngIf="isEditing">
      <h3>Editing Trip</h3>
    </div>
    <div class="banner" *ngIf="!isEditing">
      <h3>Creating Trip</h3>
    </div>
    <form class="ui form" [formGroup]="tripForm" (ngSubmit)="onSubmit()">
      <div class="field ten wide">
        <!-- Trip Basic detail -->
        <input class="ta-main-input" 
          type="text"  
          id="tripName" 
          placeholder="Trip name" 
          formControlName="name">
        <!--<input class="col-md-6" type="text" 
          class="form-control" 
          id="tripId" 
          placeholder="Trip id" 
          formControlName="id">-->
        <!--<input class="col-md-6" type="text" 
          class="form-control" 
          id="description" 
          placeholder="Description for trip" 
          formControlName="description">  -->
      </div>
      <!--Start date of trip not implementing right now -->
      <!--<div class="form-group">
        <label for="startDate">Start Date</label>
        <ng2-datepicker formControlName="startDate"></ng2-datepicker>
        <p class="help-block">When did you start this trip.</p>
      </div>-->
      <!-- Cities Basic info -->
      <div class="trip-edit-main-container"> <!--TODO: Remove inline CSS later -->
        <h2 class="side"> City </h2>
        <button type="button" class="circular ui icon button" (click)="addCity()">
          <i class="icon plus"></i>
        </button>
        <ul class="list-group" formArrayName="cities">
          <div *ngFor="let city of tripForm.controls['cities'].controls; let i = index">
            <div class="city-box" formGroupName="{{i}}">
              <div class="fields">
                <div class="field eight wide">
                  <label for="description">City name</label>
                  <input type="text" 
                    placeholder="Caliornia, SF" 
                    formControlName="name">
                </div>
                <!--<div class="field four wide">
                  <label for="description">Country</label>
                  <input type="text" 
                    placeholder="United States" 
                    formControlName="country">
                </div>-->
              </div>

              <!-- Places basic info -->
              <!--TODO: Add provision for places later-->
              <div style="margin-left:50px;">
                <h2 class="side"> Places </h2> 
                <button type="button" class="circular ui icon button" (click)="addPlace(i)">
                  <i class="icon plus"></i>
                </button>
                <ul class="list-group" formArrayName="places">
                  <div *ngFor="let place of city.controls['places'].controls; let j = index">
                    <div class="place-box" formGroupName="{{j}}">
                      <div><i class="map pin icon"></i></div>
                      <div class="fields">
                        <div class="field eight wide">
                          <label for="description">Place Name</label>
                          <input type="text" 
                            placeholder="Caliornia, SF" 
                            formControlName="name">
                        </div>
                      </div>
                      <div class="field eight wide">
                        <label for="description">Place Description/Review</label>
                        <textarea type="text" 
                          row="2"
                          placeholder="Caliornia, SF" 
                          formControlName="description"></textarea>
                      </div>
                      <!--TODO: Implement it later -->
                      <!-- Media for all the trips go here -->
                      <!--<h2> Pictures </h2>
                      <ul class="list-group" formGroupName="media">
                        <div *ngFor="let media of place.controls['media'].controls; let k = index">
                          <div class="form-group" formGroupName="{{k}}">
                            <div class="col-sm-5">
                              Link for image {{media.value.link}}
                              <image href="./assets/images/aviabird.png">
                            </div>
                            Add image uploading feature later 
                            <image-upload></image-upload>
                            <div class="col-sm-5">
                              <label for="description">Image Url</label>
                              <input type="text" 
                                class="form-control" 
                                placeholder="http://some-image-link.html" 
                                formControlName="link"
                                #imageUrl>
                            </div>

                          </div>
                        </div>
                      </ul>-->
                    </div>
                  </div>
                </ul>
              </div>
            </div>
            <div class="vertical-line"></div>
          </div>
          <div class="add-city-wrapper">
            <div class="ui primary animated button add-city-button" tabindex="0" (click)="addCity()">
              <div class="visible content">Add City</div>
              <div class="hidden content">
                <i class="plus icon"></i>
              </div>
            </div>
          </div>
        </ul>
      </div>
      
      <div class="row">
        <div class="col-xs-12">
          <!--REFACTOR: Switch to ngIf/Else syntax while updating to angular4.0/2.4.1 -->
          <!--Link: https://medium.com/aviabird/ngif-else-lands-in-angular-2-0-a242940e54ff#.675yug6u4 -->
          <button class="ui secondary basic button" (click)="onCancel()">Cancel</button>
          <button type="submit" *ngIf="!isEditing" class="ui primary basic button" [disabled]="!tripForm.valid" >Save</button>
          <button type="submit" *ngIf="isEditing" class="ui primary basic button"  >Update</button>
          <div>
            Trip Form valid: {{tripForm.valid}}
          </div>
        </div>
      </div>
    </form>
  </div>
</div>