  <div class="search sixteen wide column">
    <tr-dashboard-search></tr-dashboard-search>
  </div>

  <div class="doubling stackable three column ui grid container action-row">
      <div class="column"></div>
      <div class="column trips-type">
        <button
          class="ui left attached big button"
          [routerLink]="['feeds']"
          routerLinkActive="active">
            Feeds
        </button>
        <button
          class="right attached ui big button"
          [routerLink]="['trending']"
          routerLinkActive="active">
            Trending
        </button>
      </div>

      <div class="column create-button">
        <div class="ui animated big button" tabindex="0" [routerLink]="['/trips','new']">
          <div class="visible content">
            <i class="file text icon"></i>
            Publish Trip
          </div>
          <div class="hidden content"><i class="plus icon"></i></div>
        </div>
      </div>
  </div>

  <div class="sixteen wide column">
    <router-outlet></router-outlet>
  </div>

<!--</div>-->