.place-icon-group {
	margin-top: 20px;
}

.place-icon {
	margin-top: 20px;
}

.my-icon {
	background: white;
}

.vertical-bar {
	height: 100%;
	border-left: 2px solid teal;
	z-index: -1;
}

.bar {
	position: absolute;
	left: 60px;
}