<div class="content">
  <div class="header ui grid">
    <div class="place-name sixteen wide tablet column twelve wide computer column">
      <p>{{place.name}}</p>
    </div>
    <div class="place-date sixteen wide tablet column four wide computer column">
      <p>{{date}}</p>
    </div>
  </div>
  <div class="place-review ">
    {{place.review}}
  </div>
  <div class="place-images">
    <span *ngFor="let image of place.pictures" class="">
      <img class="image" [src]="image.url | thumbnail:'c_limit,q_30,w_500'">
    </span>
  </div>
</div>