<div class="ui grid">
  <div class="two wide column">
    <i class="street view icon"></i>
    <div class="vertical-line">
    </div>
  </div>
  <div class="fourteen wide column">
    <div class="ui card activity">
      <div class="header">
        <div class="place-name">
          {{place.name}}
          <i class="marker big icon"></i>
        </div>
        <div class="place-date">
          <i class="checked calendar big icon"></i>
          5 Feb 17' at 12 pm
        </div>
      </div>
      <div class="place-review">
        {{place.review}}
      </div>
      <div class="place-images">
        <span *ngFor="let image of place.pictures" class="">
          <img [src]="image.url">
        </span>
      </div>
    </div>
  </div>
</div>