.activity {
	margin-bottom: 40px !important;
	width: 100%;
}

.marker.icon {
	position: absolute;
	transform: translate(-20%, 18%);
	color: red;
	font-size: 5em;
}

.vertical-line {
	position: absolute;
	border-left: 2px solid #00A6B4;
  height: 100%;
  transform: translate(61%, -9%);
}

.header {
	background: #00A6B4;
  color: white;
	text-align: right;
	padding: 8px;
	.place-name {
		font-size: 22px;
	}
	.place-date {
		padding-top: 8px;
	}
}

.place-review {
	line-height: 30px;
	padding: 20px;
  font-size: 18px;
  color: #939799;
}
