.fixwidth {
    width: 200px !important;
}

.center-aligned {
    text-align: center;
}

.login-text {
    margin-bottom: 1rem;
}

.center-line {
    position: relative;
    margin: 25px 0;
    .text {
        position: absolute;
        top: -10px;
        left: 47%;
        background-color: #fafafa;
        padding: 0 2px;
    }
}