<div class="ui middle aligned center aligned grid">
  <div style="height: 120px; background: gray; width: 100%">
  </div>
  <div class="sixteen wide column"></div>
  <div class="sixteen wide column"></div>
  <div class="five wide column">
  <div class="two ui buttons">
    <button class="ui button " 
      (click)="changeSelectedLinkTo('changePassword')" 
      [ngClass]="{'active': (selectedLinkvalue === 'changePassword')}">Change Password</button>
    
    <button class="ui button" 
      (click)="changeSelectedLinkTo('otherDetails')" 
      [ngClass]="{'active': (selectedLinkvalue === 'otherDetails')}">Other Details</button>
  </div>
  </div>
</div>

<tr-change-password *ngIf="(selectedLinkvalue === 'changePassword')"></tr-change-password>

<tr-other-details [user]="(user$ | async)" 
  (updateLinksClicked)="updateSocialLinks($event)"
  *ngIf="(selectedLinkvalue === 'otherDetails')">
</tr-other-details>

<!--<div *ngIf="!isInstagramAuthStatusPresent">
	Checking for Instagram Authentication
</div>

<div *ngIf="isInstagramAuthStatusPresent">
	<div *ngIf="!isInstagramAuthenticated">
		<div>
			You are Not Authenticated with Instagram
		</div>
		<button class="btn btn-primary" (click)="onLoginWithInstagram()">Authenticate with Instagram</button>
	</div>
	<div *ngIf="isInstagramAuthenticated">
		<div>
			You are Authenticated With Instagram
		<div>
	</div>
</div>-->