<div class="ui twelve column centered grid">
  <div class="two wide column">
    <img class="ui avatar image" [src]="'https://pbs.twimg.com/profile_images/706827216336752642/RUlj-EsL_400x400.jpg'">
  </div>
  <div class="twelve wide column">
    <div class="name">
      Chandra Shekhar
    </div>
    <div class="content">
      <span>20,000 Trips</span>
      <span>1,800 Followers</span>
      <span>2,000 Following</span>
    </div>
  </div>
  <div class="two wide column">
    <i class="big grey check square icon"></i>
  </div>
</div>
