.follower-list {
	padding: 25px 10px 10px 10px;
  border-bottom: 1px solid #eee;
}

.square {
	transform: translateY(60%);
  position: relative;
}

.info {
	margin-right: 1.5rem;
	color: #aaa;
}

.name {
	font-weight: 400;
	font-size: 1.3rem;
  margin-bottom: 9px;
}

.follow-user {
	position: relative;
}

.follow {
	position: absolute;
	top: 0;
	text-align: center;
	margin-top: 2rem;
	button {
		background: #E78B90;
	}	
}

.avatar.image {
	width: 4em !important;
	height: auto !important;
}