<div class="ui inverted teal menu">
  <a class="item" [routerLink]="['/trips']">
    <img src="https://thumb1.shutterstock.com/display_pic_with_logo/3022592/309475973/stock-vector-travel-logo-template-309475973.jpg">
  </a>
  <div class="right menu">
    <a *ngIf="(authentication$ | async)" class="item" >{{(user$ | async).name}}</a>
    <a *ngIf="(authentication$ | async)" class="item" [routerLink]="['/user','settings']">Settings</a>
    <a *ngIf="(authentication$ | async)" class="item" (click)="logout()">LogOut</a>
    <a *ngIf="!(authentication$ | async)" class="item" [routerLink]="['/login']">Login</a>
  </div>
</div>