.my-header {
  box-shadow: 0 1px 5px #BBB !important;
  background: #2C3E50;
  border-radius: 0;
  color: white;
  @media only screen and (min-width: 767px) {
    padding: 0 5rem;  
	}
  box-shadow: none !important;
  width: 100%;

  a, a:hover {
  	color: white;
  }

  .title {
  	font-size: 1.5rem;
  	font-weight: 100;
  	float: left;
    margin-left: 6px;
  	.title1 {
	  	color: grey + 100;
	  	float: left;
	  }

	  .title2 {
	  	color: grey + 100;
	  	float: left;
	  }
  }

  .search {
    color: white;
    .input {
      background: transparent;
      color: white;
      .prompt {
        background: transparent;
        border: 1px solid green;
        border-radius: 6px;
        color: white;
      }
    }
  }

  .travel {
    color: rgb(17, 225, 139);
  }

  .logo {
    width: 2rem !important;
    margin-right: 0.5rem !important;
  }

}