<div class="my-card">

  <div class="ui grid content">
    <div class="two wide column">
      <img class="ui avatar image" [src]="trip?.user.profile_pic?.url">
    </div> 
    <div class="nine wide column">
      <h3 class="user-name">
        {{trip?.user.name}}
        <small> shared a</small>
        <a [routerLink]="['/trips',(trip.id)]"> Trip </a>
      </h3>
      <p class="postedAt">
        {{trip?.created_at | amTimeAgo}}
      </p>
    </div>
    <div class="five wide right aligned column">
      <div class="ui simple dropdown more-options" *ngIf="belongsToLoggedInUser() | async">
        <i class="ellipsis vertical gray icon"></i>
        <div class="menu">
          <div class="item" [routerLink]="['/trips', trip.id, 'edit']">Edit</div>
          <div class="item" [routerLink]="['/trips', trip.id, 'edit']">Delete</div>
        </div>
      </div>
      <!--<a [routerLink]="['/trips', trip.id, 'edit']" *ngIf="belongsToLoggedInUser() | async"><i class="large icon pencil"></i></a>-->
      <a class="ui small button follow-button"
          [ngClass]="{'active': tripFollowState() == 'active', 'inactive': tripFollowState() == 'inactive'}"
          *ngIf="!(belongsToLoggedInUser() | async) && isFollowable"
          (click)="toggleFollowBtn()">
          {{tripFollowState() == "inactive" ? "Follow" : "Following"}}
        </a>
    </div>
    
    <div class="sixteen wide column thumbnail-container" [routerLink]="['/trips',(trip.id)]">
      <img width="100%" class="thumbnail" [src]="trip.thumbnail_image_url | thumbnail:'c_limit,q_51,w_614'">
    </div>

    <div class="sixteen wide column tags">
      <span *ngFor="let tag of trip.tag_list">
        <a class="ui label" (click)="onTagClick(tag)">{{tag}}</a>
      </span>
      <!--<a class="ui green label" (click)="onTagClick('mountains')">Mountains</a>
      <a class="ui grey label" (click)="onTagClick('cycling')">Cycling</a>
      <a class="ui red label" (click)="onTagClick('treking')">Treking</a>
      <a class="ui teal label" (click)="onTagClick('swimming')">Swimming</a>-->
    </div>

    <div class="sixteen wide column trip-status">
      <div>
        {{trip.trip_likes_count | humanize}} Likes
        <!--<div class="right">
          0 Shares, 0 Views
        </div>-->
      </div>
    </div>

    <hr class="image-bottom-border">
    <div class="sixteen wide column icon-group">
      <!--<i class="reply large icon"></i>-->
      <i class="heart large icon"
        [ngClass]="{empty: tripLikeState() == 'inactive'}"
        [@toggleLike]='tripLikeState()'
        (click)="toggleLike()"> </i>
    </div>
  </div>
</div>