<div class="ui centered grid">
  <div style="height: 120px; background: gray; width: 100%">
  </div>
  <div class="twelve wide column">
    <div *ngIf="data">
      <h1>Hello World</h1>
      <p-chart #chart type="bar" [data]="data"></p-chart>
    </div>

    <table class="ui celled table">
      <thead>
        <tr>
          <th>Trips</th>
          <th>Views</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let trip of userTrips$ | async">
          <td>
            <a (click)="getGraphDataForTrip(trip.id, trip.name, chart)">{{trip.name}}</a>
          </td>
          <td>{{trip.view_count}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>