.profile-cover {
	width: 100%;
	margin-top: 0;
	background: rgba(0, 0, 255, 0.07);
}

.profile-cover-div {
	height: 320px;
	overflow: hidden;
}

// .cover-image {
	
// }

.profile-info {
	bottom: 14rem;
}

.profile-image {
	border: 5px solid white;
	border-radius: 8px;
}

.content {
	margin-right: 30px;
	cursor: pointer;
}