<router-outlet></router-outlet>

<div class="profile-cover">
	<div class="image profile-cover-div">
		<div class="profile-info">
			<div class="profile-image-div text-white">
				<img class="ui centered image profile-image" [src]="(user$ | async).profilePic && (user$ | async).profilePic['url'] || 'https://pbs.twimg.com/profile_images/706827216336752642/RUlj-EsL_400x400.jpg'">
				<h1 class="profile-name">{{(user$ | async)?.name}}</h1>
				<h4 class="profile-bio">Designer and Developer living Pune, IN</h4>
			</div>
			<div *ngIf="false">
				<input type="file" name="file" accept="image/*" (change)="handleInputChange($event)">
				<div *ngIf="imageSrc">
					<button (click)="onUpdateMedia('profile_pic')" class="ui instagram button">
						<i class="cloud icon"></i>
						Upload Image
					</button>
					<button (click)="onUpdateMedia('cover_photo')" class="ui instagram button">
						<i class="cloud icon"></i>
						Upload Image
					</button>				
				</div>
			</div>
		</div>
		<img class="cover-image" [src]="(user$ | async).coverPhoto && (user$ | async).coverPhoto['url'] || 'http://res.cloudinary.com/zeus999/image/upload/e_blur:1000/v1483437708/sea-sky-beach-holiday-11_nnbuey.jpg'">
	</div>

	<div class="ui grid centered profile-nav">
		<span class="profile-nav-links active" [routerLink]="['trips']">Trips</span>
		<span class="profile-nav-links">Followers</span>
		<span class="profile-nav-links">Following</span>
		<span class="profile-nav-links" [routerLink]="['media']">Media</span>
	</div>
</div>

<div class="main ui grid">
	<div class="one wide column"></div>
	<div class="eight wide column">
		<router-outlet></router-outlet>
	</div>
</div>