#user-info {
	border: 1px solid;
	padding-left: 40px;
	padding-top: 30px;
	padding-bottom: 30px;
	border-bottom: none;
}

.btn-section {
	font-size: 25px; 
}

#completed {
	border: 1px solid;
}

#user-sections {
	margin-bottom: 75px;
}

.logo {
	width: 100px;
	border: 1px solid;
}