<!--<ngrx-store-log-monitor toggleCommand="ctrl-h" positionCommand="ctrl-m"></ngrx-store-log-monitor>-->
<ng2-toasty [position]="'top-center'"></ng2-toasty>
<tr-header></tr-header>
<div class="body">
	<router-outlet></router-outlet>
</div>    
<div id="footer">
	<div class="ui grid centered profile-nav">
		<span class="footer-links">ABOUT US</span>
		<span class="footer-links">SUPPORT</span>
		<span class="footer-links">PRIVACY</span>
		<span class="footer-links">TERMS</span>
		<span class="footer-links">&copy; 2017 Yatrum</span>
	</div>
</div>
<aside id="sticky-social" class="display-prop">
    <ul class="computer only">
        <li><a href="https://www.facebook.com/yatrum" class="entypo-facebook" target="_blank"><span>Facebook</span></a></li>
        <li><a href="https://twitter.com/yatrum_" class="entypo-twitter" target="_blank"><span>Twitter</span></a></li>
        <li><a href="https://medium.com/yatrum" class="entypo-book-open" target="_blank"><span>Blog</span></a></li>
        <li><a href="https://github.com/aviabird/yatrum" class="entypo-github" target="_blank"><span>Github</span></a></li>
        <!--<li><a href="#" class="entypo-linkedin" target="_blank"><span>LinkedIn</span></a></li>-->
        <li><a href="https://instagram.com/yatrum_" class="entypo-instagrem" target="_blank"><span>Instagram</span></a></li>
        <!--<li><a href="#" class="entypo-stumbleupon" target="_blank"><span>StumbleUpon</span></a></li>
        <li><a href="#" class="entypo-pinterest" target="_blank"><span>Pinterest</span></a></li>
        <li><a href="#" class="entypo-flickr" target="_blank"><span>Flickr</span></a></li>
        <li><a href="#" class="entypo-tumblr" target="_blank"><span>Tumblr</span></a></li>-->
    </ul>
</aside>
