/*.body {*/
  /*margin-top: 20px;*/
/*}*/

#footer {
  margin-top: 120px;
  margin-bottom: 100px;
  padding-top: 40px;
  border-top: 1px solid #eee;  
}

.footer-links {
  font-size: 12px;
  font-weight: 400;
  color: #aaa;
  cursor: pointer;
}
