.border-custom {
	border: 1px solid #4C868F !important;
}

.trip {
	box-shadow: 0 0 10px #CC755B;
}

.trip-image {
	background-image: url("http://www.realgap.co.uk/sites/realgap/files/drupal-images/roads_quote.jpg");
	height: 20rem;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	box-shadow: 0 0 10px #CC755B;
}

.trip-detail {
	margin-top: 30px;
}

.my-card {
	width: 100%;
}

.trip-user {
	cursor: pointer;
}