@import '../../../../_vars.scss';

.banner {
	padding: 0px !important;
}

.detail-margin {
	margin-top: 0px;
}

.content {
	color: white;
	position: absolute;
}

.comments-card {
	padding: 0 !important;
}

.trip-activity {
	padding: 0 !important;
}