<div class="ui centered grid">
  <div class="detail-margin row"></div>

  <div class="row">
    <div class="ten wide column banner">
      <tr-trip-detail-header
        [trip]="trip$ | async"
        [tripUser]="tripUser"></tr-trip-detail-header>
    </div>
  </div>

  <div class="row">
    <div class="ten wide column trip-activity">
      <div *ngFor="let place of (trip$ | async)?.places">
        <tr-place-detail [place]="place"></tr-place-detail>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="card ten wide column comments-card">
      <div *ngFor="let comment of comments$ | async" class="ui cards grid">
        <tr-trip-comment [comment]="comment" [authUser]="loggedInUser$ | async" class="card sixteen wide column"></tr-trip-comment>
      </div>

      <hr>
      
      <tr-new-trip-comment [authUser]="loggedInUser$ | async" [trip]="trip$ | async" class="ui cards grid"></tr-new-trip-comment>
    </div>
  </div>
</div>
