@mixin default-box-shadow() {
	box-shadow: 0 1px 5px #BBB;
}

.border-custom {
	border: 1px solid #4C868F !important;
}

.trip {
};

.trip-image {
	background-image: url("http://www.realgap.co.uk/sites/realgap/files/drupal-images/roads_quote.jpg");
	height: 20rem;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	@include default-box-shadow();
}

.trip-detail {
	margin-top: 30px;
}

.my-card {
	width: 100%;
}

.trip-user {
	cursor: pointer;
}

.cover-image {
	height: 17rem;
	overflow: hidden;
}

.cover-header {
	position: absolute;
	color: white;
	width: 80%;
	left: 10%;
	transform: matrix;
	top: 30%;
	font-weight: 100;
}

.likeBtn {
	position: absolute;
	bottom: 1rem;
	right: 1rem;
}