<form class="form-horizontal" [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
  <div class="form-group"
    [ngClass]="{'has-error': (signUpForm.get('name').invalid && signUpForm.get('name').touched)}">
    <label for="name" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-4">
      <input type="text" 
        class="form-control" 
        id="name" 
        placeholder="Name"
        formControlName="name">
      <span *ngIf="signUpForm.get('name').invalid && signUpForm.get('name').touched && signUpForm.get('name').hasError('required') "> 
        Name is required
      </span>
    </div>
    
  </div>
  <div class="form-group"
    [ngClass]="{'has-error': (signUpForm.get('email').invalid && signUpForm.get('email').touched)}">
    <label for="email" class="col-sm-2 control-label">Email</label>
    <div class="col-sm-4">
      <input type="email" 
        class="form-control" 
        id="email" 
        placeholder="Email"
        formControlName="email">
      <span *ngIf="signUpForm.get('email').invalid && signUpForm.get('email').touched && signUpForm.get('email').hasError('required') "> 
        <!--&& signUpForm.get('name').touched) && signUpForm.get('name').hasError('required')">-->
        Email is required
      </span>
    </div>
    
  </div>
  <div class="form-group"
    [ngClass]="{'has-error': (signUpForm.get('password').invalid && signUpForm.get('password').touched)}">
    <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
    <div class="col-sm-4">
      <input type="password" 
        class="form-control" 
        id="password" 
        placeholder="Password"
        formControlName="password">
      <span *ngIf="signUpForm.get('password').invalid && signUpForm.get('password').touched && signUpForm.get('password').hasError('required')">
        Can't be empty
      </span>
    </div>
  </div>
  <div class="form-group"
    [ngClass]="{'has-error': (signUpForm.get('password_confirmation').invalid && signUpForm.get('password_confirmation').touched)}">
    <label for="inputPassword3" class="col-sm-2 control-label">Password Confirmation</label>
    <div class="col-sm-4">
      <input type="password" 
        class="form-control" 
        id="password_confirmation" 
        placeholder="Password again"
        formControlName="password_confirmation">
      <span *ngIf="signUpForm.get('password_confirmation').touched && signUpForm.hasError('nomatch')">
        Password should match
      </span>
      <span *ngIf="signUpForm.get('password_confirmation').invalid && signUpForm.get('password_confirmation').touched && signUpForm.get('password_confirmation').hasError('required')">
        Can't be empty
      </span>
    </div>
  </div>
  <div *ngIf="(formErrorMessage$ | async)?.length > 0" class="has-error col-sm-offset-2">
    <label>
      {{ formErrorMessage$ | async }}
    </label>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-4">
      <button type="submit" class="btn btn-primary">Sign Up</button>
    </div>
  </div>
</form>