<div class="ui centered grid">
  <div class="eight wide column">
    <tr-loader message="Loading Trips" noOfParas="4" [hidden]="hideLoader"></tr-loader>
  </div>
</div>

<div class="ui stackable two column grid container" infinite-scroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="300" (scrolled)="onScroll()">
  <div class="row freez-width">
    <!--<tr-loader message="Loading Trips" noOfParas="2" [hidden]="hideLoader"></tr-loader>-->
    <div *ngFor="let trip of trendingTrips$ | async" class="column">
      <tr-trip-list-item [trip]="trip" [isFollowable]="true"></tr-trip-list-item>
    </div>
  </div>
</div>