.following-list {
	padding: 10px;
  border-bottom: 1px solid #eee;
}

.square {
	transform: translateY(60%);
  position: relative;
}

.info {
	margin-right: 1.5rem;
	color: #aaa;
}

.name {
	font-weight: 400;
	font-size: 1.3rem;
  margin-bottom: 9px;
}