<div *ngFor="let following of followingList$ | async">
  <div class="ui grid following-list">
    <div class="two wide column">
      <img class="ui avatar image" [src]="following?.profile_pic.url">
    </div>
    <div class="ten wide column">
      <div class="name">
        {{following?.name}}
      </div>
      <div class="content">
        <span class="info">{{following?.total_trips}} Trips</span>
        <span class="info">{{following?.total_followers}} Followers</span>
        <span class="info">{{following?.total_following}} Following</span>
      </div>
    </div>
    <div class="four wide column follow-user">
      <div *ngIf="(loggedUserId$ | async) != following?.id" class="follow" (click)="onToggleFollow(following?.id)">
				<button class="ui facebook button">
					{{ following?.is_followed_by_current_user ? "Following" : "Follow"}}
				</button>
			</div>
    </div>
  </div>
</div>