<div class="content">
  <img
    class="right floated mini ui image"
    [src]="comment?.user?.profile_pic.url"
    [routerLink]="['/user', comment?.user?.id]">
  <div class="header" [routerLink]="['/user', comment?.user?.id]">
    {{comment.user?.name}}
  </div>
  <div class="meta">
    {{comment.inserted_at | date}}
  </div>
  <div class="description">
    {{comment.message}}
  </div>
</div>
<div class="extra content ui grid">
  <div class="ui five buttons wide right aligned column">
    <div
      *ngIf="authUser.id == comment.user_id"
      (click)="onCommentDelete(comment.id)"
      class="ui basic red button">Delete</div>
  </div>
</div>