<div class="ui middle aligned center aligned grid">
  <div class="sixteen wide column"></div>
  <div class="sixteen wide column"></div>
  <div class="five wide column">
    <h2 class="ui teal image header">
      <div class="content">
        Change Password
      </div>
    </h2>
      <form class="ui medium form" #f="ngForm" novalidate (ngSubmit)="changePassword(f.valid)">
        <div class="ui stacked segment">
          <div class="form-group field">
            <label for="">Old Password</label>
            <input type="password" class="form-control" name="oldPassword" [(ngModel)]="oldPassword">
          </div>

          <div class="form-group field">
            <label for="">New Password</label>
            <input type="password" class="form-control" name="password" [(ngModel)]="password" required validateEqual="confirmPassword" reverse="true"
              #newPassword="ngModel">
            <small [hidden]="newPassword.valid || (newPassword.pristine && !f.submitted)" class="text-danger">
              Password is required
            </small>
            <!--<pre *ngIf="password.errors" class="margin-20">{{ password.errors | json }}</pre>-->
          </div>
          <div class="form-group field">
            <label for="">Retype password</label>
            <input type="password" class="form-control" name="confirmPassword" [(ngModel)]="confirmPassword" required validateEqual="password"
              reverse="false" #confirmNewPassword="ngModel">
            <small [hidden]="confirmNewPassword.valid || (confirmNewPassword.pristine && !f.submitted)" class="text-danger">
              Password mismatch
            </small>
            <!--<pre *ngIf="confirmPassword.errors" class="margin-20">{{ confirmPassword.errors | json }}</pre>-->
          </div>
          <div class="field">
            <button type="submit" class="ui fluid large teal submit button">Change Password</button>
          </div>
        </div>
      </form>
    <div class="ui message">
      Have a Nice Day!!! 
    </div>
  </div>
</div>