<div class="ui middle aligned center aligned grid">
  <div class="sixteen wide column"></div>
  <div class="sixteen wide column"></div>
  <div class="five wide column">
    <h2 class="ui teal image header">
      <div class="content">
        Log-in
      </div>
    </h2>

    <form class="ui medium form" [formGroup]="signInForm" (ngSubmit)="onSubmit()">
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="email" placeholder="E-mail address" formControlName="email" autocomplete="off">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password" placeholder="Password" formControlName="password" autocomplete="off">
          </div>
        </div>
        <button type="submit" class="ui fluid large teal submit button">Sign in</button>
      </div>
    </form>

    <div class="ui message">
      <button class="ui google plus button" (click)="socialLogin('google')">
        <i class="google plus icon"></i>
        SignIn With Google
      </button>
    </div>
    
    <div class="ui message">
      <button class="ui facebook button" (click)="socialLogin('facebook')">
        <i class="facebook icon"></i>
        SignIn With Facebook
      </button>
    </div>

    <div class="ui message">
      New to Yatrum? <a [routerLink]="['/signup']">Sign Up</a>
    </div>
  </div>
</div>