.my-card {
	min-width: 100%;
	box-shadow: 0 1px 5px #BBB;
	transition: all 500ms;
	&:hover {
		box-shadow: 0 7px 20px #BBB;
		transform: scale(1.01);
		z-index: 1;
	}
}

.create-button {
    width: 12rem;
    margin: 0 auto;
    padding: 1rem;
}
.photo {
	height: 15rem;
}