<div class="create-button">
  <div class="ui primary animated button" tabindex="0" [routerLink]="['/','trips','new']">
    <div class="visible content">Create Trip</div>
    <div class="hidden content"><i class="plus icon"></i></div>
  </div>
</div>
<br>
<div class="ui centered grid">
  <div class="eight wide column">
    <div class="ui two column grid">
      <tr-loader message="Loading Trips" noOfParas="2" [hidden]="hideLoader"></tr-loader>

      <div *ngIf="(trips$ | async)?.length">
        <div [routerLink]="['/trips', trip.id]" *ngFor="let trip of trips$ | async" class="column">
          <tr-trip-list-item [trip]="trip" [isFollowable]="true"></tr-trip-list-item>
        </div>
      </div>

      <div *ngIf="!(trips$ | async)?.length">
        <h3>Sorry, We Couldn't find Trips you searched for!!!</h3>
      </div>

    </div>
  </div>
</div>