
/* You can add global styles to this file, and also import other style files */
@media (min-width: 1200px) {
  .container {
    width: 960px;
  }   
}

.text-white {
	color: white !important;
}

.text-center {
  text-align: center;
}

body {
	letter-spacing: 1px;
	font-weight: 100;
}

.ta-main-input {
  border-left: transparent !important;
  border-right: transparent !important;
  border-top: transparent !important;
  border-radius: 0px !important; 
  padding-bottom: 2px !important;
  padding-left: 0px !important;
  font-size: 34px !important;
}

.white-placeholder{
  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: rgba(255, 255, 255, 0.50);
    font-weight: 400;
  }
  &::-moz-placeholder { /* Firefox 19+ */
    color: rgba(255, 255, 255, 0.50);
    font-weight: 400;
  }
  &:-ms-input-placeholder { /* IE 10+ */
    color: rgba(255, 255, 255, 0.50);
    font-weight: 400;
  }
  &:-moz-placeholder { /* Firefox 18- */
    color: rgba(255, 255, 255, 0.50);
    font-weight: 400;
  }
}

ng2-slim-loading-bar{
  .slim-loading-bar-progress{
    position: absolute;
    top: 0px;
  }
}