<div class="create-button">
  <div class="ui primary animated button" tabindex="0" [routerLink]="['new']">
    <div class="visible content">Create Trip</div>
    <div class="hidden content"><i class="plus icon"></i></div>
  </div>
</div>

<div class="ui centered grid">
  <div class="twelve wide column">
    <div class="ui two column grid">
      <div [routerLink]="['/trips', trip.id]" *ngFor="let trip of trips$ | async" class="column">
        <div class="ui card my-card">  
          <div class="content">
            <a class="header">{{trip.name}}</a>
            <div class="meta">
              <span class="date">25/4/2016</span>
            </div>
            <div class="description">
              <span *ngFor="let city of trip.cities"> {{city.name}} - </span>
              <img width="100%" class="photo" src="https://assets0.roadtrippers.com/uploads/region/image/466/-strip_-quality_60_-interlace_Plane_-resize_960x354_U__-gravity_center_-extent_960x354/region-image-1dd08944-c73f-4cb4-9b42-993ae414c58d.jpg">
            </div>
          </div>
          <div class="extra content">
            Completed Trip
          </div>
        </div>
      </div>
    </div>
  </div>
</div>  